/* Styles for Mobile Site */



/* Header & Hero */
body {
   background-color: #364995;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 7px #45a29e;
    padding-bottom: 5%;
    padding-top: 5%;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-family: "Playfair Display", sans-serif;
    font-size: 300%;
}


#hero,h1{
    border: 7px solid #45a29e;
    border-radius: 1px;
    background-color: #45a29e; 
    border: 2px solid #0b0c10;
}

#hero p{
    border: 2px solid white;
    border-radius: 3px;
    background-color: #1f2833;
    text-align: justify;
    font-family:monospace;
    color: white;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
    font-size: 12px;
    margin-bottom: 5em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    max-width: 30%;
    padding-bottom: 5%;
    border-radius: 100%;
}

h2 {
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-size: 300%;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

img {
    max-width:100%;
   }

#hero img {
    width:250px;
    padding-top: 2em;
}

/* Projects */
   
#projects {
    border: 20px outset #1f2833;
    /*border-radius: 10px; */
    text-align: center;
    text-shadow: 2px 2px 7px #45a29e;
    margin-bottom: 2em;
    background-color: #0b0c10;
    color: #66fcf1;
    font-family: 'Times New Roman', Times, serif;
}

.project1,.project2 {
    border: 2px solid #45a29e;
   /* border-radius: 10px; */
    color: white;
text-align: justify;
font-size: 14px;
padding-left: 5%;
padding-right: 5%;
/*box-shadow: 2px 2px 2px #66fcf1; */
padding-bottom: 3%;
padding-top: 3%;
}

#projects > div {
}
#projects > div img {

}

.project3{
    border: 2px solid #45a29e;
    color: white;
    text-align: justify;
    font-size: 14px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}


   #projects h2 {
    grid-column:1/-1;
   }
   
  
   

/* Reviews */


#reviews {
background-color: #c5c5c5;
border: 20px solid #45a29e;
/*border-radius: 10px; */
text-align: center;
/*text-shadow: 2px 2px 7px white; */
margin-bottom: 2em;
background-color: #45a29e;
color: #0b0c10;
padding-top: 5%;
border: 3px solid #0b0c10; 
padding-left:5em;
padding-right:5em;
display:grid;
grid-gap:1em;
padding-bottom: 2em;
}

.review1 {
background-color: #c5c5c5;
border: 3px solid #1f2833;
border-radius: 10px;
border-spacing: 10%;
color: black;
text-align: justify;
font-size: 12px;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 3%;
padding-top: 3%;
}

.review2 {
    background-color: #c5c5c5;
    border: 3px solid #1f2833;
    border-radius: 10px;
    border-spacing: 10%;
    color: black;
    text-align: justify;
    font-size: 12px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
    }

    .review3 {
        background-color: #c5c5c5;
        border: 3px solid #1f2833;
        border-radius: 10px;
        border-spacing: 10%;
        color: black;
        text-align: justify;
        font-size: 12px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 3%;
        padding-top: 3%;
        }

        .content {
           padding-top: 2%; 
           font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .name {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        }
    


#reviews {
    padding-top: 2%;
}



/* Footer */
footer {
    background-color: #45a29e;
    color: white;
}


/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */
    header{
        text-align: center;
        color: #45a29e
    }

    h1 {
        text-align: center;
        color: white;
        text-shadow: 2px 2px 7px #45a29e;
        padding-bottom: 2%;
        padding-top: 2%;
        -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-family: "Playfair Display", sans-serif;
    }    
    
    #hero {
        padding-bottom: 10%;
        padding-top: 2em;
    }

    #hero p{
       border: 3px solid #0b0c10;
       border-radius: 5px; 
        background-color: #1f2833;
        text-align: justify;
        font-family:monospace;
        color: white;
        padding-top: 2%;
        padding-bottom: 1%;
        padding-right: 2%;
        padding-left: 2%;
        font-size: 25px;
        border: 2px solid white;
        margin-bottom: 1em;
    }

    /* Projects */
    #projects {
        border: 10px outset #1f2833;
        border-radius: 5px;
        text-align: center;
        text-shadow: 2px 2px 7px #45a29e;
        margin-bottom: 2em;
        background-color: #0b0c10;
        color: #66fcf1;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #projects > div p{
        color: white;
        text-shadow: 2px 2px 7px black;
        text-align: justify;
        text-size-adjust: 10%;
        font-size: 17px;
    }

    #projects img {
        max-width: 100%;
        max-height: 100%;
    } 


    /* Reviews */
    
   
    #reviews {
        background-color: #c5c5c5;
        border: 20px solid #45a29e;
        /*border-radius: 10px; */
        text-align: center;
        /*text-shadow: 2px 2px 7px white; */
        margin-bottom: 2em;
        background-color: #45a29e;
        color: #0b0c10;
        padding-top: 2%;
        padding-left:3em;
        margin-top: 3em;
        }

    .review1 {
        background-color: #c5c5c5;
        border: 5px solid #1f2833;
        border-radius: 10px;
        border-spacing: 10%;
        color: black;
        text-align: justify;
        font-size: 12px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 3%;
        padding-top: 3%;
        }
        
        .review2 {
            background-color: #c5c5c5;
            border: 5px solid #1f2833;
            border-radius: 10px;
            border-spacing: 10%;
            color: black;
            text-align: justify;
            font-size: 12px;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 3%;
            padding-top: 3%;
            }
        
            .review3 {
                background-color: #c5c5c5;
                border: 5px solid #1f2833;
                border-radius: 10px;
                border-spacing: 10%;
                color: black;
                text-align: justify;
                font-size: 12px;
                padding-left: 5%;
                padding-right: 5%;
                padding-bottom: 3%;
                padding-top: 3%;
                }
        
                .content {
                   padding-top: 2%; 
                   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                   font-size: 15px;
                }
        
                .name {
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-weight: bold;
                font-size: 17px;
                }

            .title{
                font-size: 13px;
            }
            

    /* Footer */

    footer {
        background-color: #45a29e;
        color: black;
    }

}

